html, body{ /*  Setter margin og padding til 0 slik for å gjøre CSS til de andre sidene lettere */ 
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.pageContainer{
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #D2D2D2;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
}