/* * {
    outline: 1px solid gold;
} */
.x {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2rem;
    /* background-color: blue; */
}
.midlertidigBtn,
.filterButton,
.selectAllButton,
.showSelectionButton {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    color: hsl(0, 0%, 83%);
    background-color: #1a1a1a;
}

.topSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem 4rem;
    width: 20%;
    gap: 1rem;
    /* border: 1px solid */
}
.btnContainer {
    /* border: 1px solid black; */
    display: flex;
    gap: 0.5rem;
}

.filterBtnContainer{
    display:flex;
    gap: 10px;
}
.midlertidigBtn {
    border: 2px solid rgb(165, 31, 31);
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
}
.midlertidigBtn:hover {
    background-color: red;
    color: black;
}

.filterSelect {
    text-align: center;
    border-radius: 15px;
    font-size: 1.1rem;
    width: 150px;
    border: none;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    color: hsl(0, 0%, 83%);
    background-color: #1a1a1a;
}
.filterButton:hover {
    background-color: #006c74;
    color: white;
}
.headerBoxContainer {
    position: absolute;
    top: 3rem;
    margin-left: 20%;
}
@media (max-width: 1300px) { /* Forhindrer at den overlapper Søk og fitrer ved mindre skjerm.*/
    .headerBoxContainer {
        display:flex;
        justify-content: end;
        margin-left: 0;
        width: 100%;
        position: relative;
    }
}
.headerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #1a1a1a;
    color: #d2d2d2;
    border-radius: 15px;
    width: 12rem;
    height: 3rem;
    margin: auto;
    font-size: 1.2rem;
    font-weight: bold;
}

.contentContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 1rem;
    width: 92vw;
    height: 60vh;
    margin: auto;
    margin-top: 3rem;
    background-color: #1a1a1a;
    border: 3px solid #0a77a6;
    color: hsl(0, 0%, 93%);
    border-radius: 50px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.selectAllButton:hover,
.showSelectionButton:hover {
    background-color: #ff3f3f;
    color: white;
}
.selectAllButton,
.showSelectionButton {
    text-align: center;
    border-radius: 25px;
    border: 3px solid #ff3f3f;
}
.selectAllButton {
    padding: 0.6rem;
    width: 150px;
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    left: 2.8vw;
    margin-top: 20px;
}
.showSelectionButton {
    padding: 1rem;
    width: 17rem;
    font-size: 1.4rem;
    font-weight: bold;
    position: relative;
    right: 2.8vw;
    margin-top: 40px;
}

.bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.actorsList {
    list-style: none;
}
.actorListContainer {
    display: flex;
    margin-top: 10px;
}
.actorCheckbox {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    border: none;
    backface-visibility: hidden;
    vertical-align: middle;
    appearance: none;
    cursor: pointer;
    box-shadow: none;
}
.actorCheckbox:checked {
    background-color: gray;
    cursor: pointer;
}

.actorBtn {
    width: 85vw;
    text-align: end;
    display: flex;
    justify-content: space-between;
    border: none;
    color: white;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 1.3rem;
    border-bottom: 1.5px solid #ffffff;
    margin-bottom: 5px;
    text-decoration: none;
}

.activeDropdown {
    border-bottom: 2px solid #ff3f3f;
    font-weight: bold;
}
.activeArrow {
    color: #ff3f3f;
}

.subActors {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 0.5rem;
    width: 100%;
}

.subActor {
    position: relative;
    margin-bottom: 0.8rem;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    color: #e0e0e0;
    padding-bottom: 0.5rem;
    width: 93%;
}

.subActor::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: white;
    opacity: 0.5;
}

.subActor::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.6rem;
    height: 0.6rem;
    background-color: #00b3b3;
    border-radius: 50%;
}