.searchContainer {
    display: flex;
    align-items: center;
    background-color: inherit;
    padding: 0.5rem 0.8rem;
    border-radius: 25px;
    width: 18rem;
    position: relative;
}
.searchBar {
    display: flex;
    align-items: center;
    width: 100%;
}
.iconSearch, .menuIcon{
    color: hsl(0, 0%, 80%);
    font-size: 1.2rem;
    margin: 0 5px;
}
.iconSearch:hover, .menuIcon:hover{
    cursor: pointer;
}
.searchInput {
    flex: 1;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0.3rem 0.5rem;
    outline: none;
    font-size: 1rem;
}
.searchInput::placeholder {
    color: hsl(0, 0%, 70%);
}
